.card {
  background-color: rgb(25, 29, 32);
  border: 2px solid snow;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}
.card:hover {
  transform: scale(102%);
  background-color: rgb(125, 128, 131);
}
img {
  transform: scale(200%);
}
