.card {
  padding: 2em;
  background-color: rgb(25, 29, 32);
  border: 2px solid snow;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 10px 10px 10px #5abbb6;
  transform: scale(102%);
}
img {
  transform: scale(150%);
}
